<!-- footer start -->
<footer class="footer navbar">
  <h4>Copyright @ 2015 DAC PLAY</h4>
  <p>Powered by <a href="http://bitshares.org" target="_blank">Graphene</a></p>

  <div style="margin-top:4em;" class="row text-center"><a href="http://www.miitbeian.gov.cn/" target="_blank">沪ICP备15054055号-1</a></div>
</footer>
<!-- footer ends -->

<a id="scrollTopBtn" href="javascript:void(0);" class="btn btn-primary btn-fab btn-raised mdi-maps-local-airport"></a>